/*GAMEROOM STRUCTURE CSS START ----------------------------------------*/

#game-room {
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

#left-column, #center-column, #right-column {
    position: relative;
    padding: 0;
}
    
#left-column, #right-column {
    z-index: 100;
    color: #fff;
    height: 100vh;
}

#center-column {
    max-height: 100vh;
}

#title-row {
    z-index: 1;
    position: relative;
    height: 9vh;
}

#title-row .panel-dark{
    text-align: center;
    font-family: pathfinder !important;
    color: #fff !important;
    font-size: 2.5rem;
    margin: 0 10px 15px 0;
}

.game-panel {
    background: rgba(0, 0, 0, 0.6);
    padding: 16px;
}

.game-title {
    font-family: mortis;
    font-size: 3.1rem;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0);
background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 16%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 59%, rgba(0,0,0,1) 62%, rgba(0,0,0,1) 63%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(16%, rgba(0,0,0,1)), color-stop(45%, rgba(0,0,0,1)), color-stop(46%, rgba(0,0,0,1)), color-stop(49%, rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,1)), color-stop(52%, rgba(0,0,0,1)), color-stop(59%, rgba(0,0,0,1)), color-stop(62%, rgba(0,0,0,1)), color-stop(63%, rgba(0,0,0,1)), color-stop(64%, rgba(0,0,0,1)), color-stop(85%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 16%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 59%, rgba(0,0,0,1) 62%, rgba(0,0,0,1) 63%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 16%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 59%, rgba(0,0,0,1) 62%, rgba(0,0,0,1) 63%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 16%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 59%, rgba(0,0,0,1) 62%, rgba(0,0,0,1) 63%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 16%, rgba(0,0,0,1) 45%, rgba(0,0,0,1) 46%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 52%, rgba(0,0,0,1) 59%, rgba(0,0,0,1) 62%, rgba(0,0,0,1) 63%, rgba(0,0,0,1) 64%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.modal-wrap {
    display: block;
    position: fixed;
    width: 50%;
    margin-left: 25%;
    margin-right:50%;
    height: 100%;
    z-index: 9999;
}

.modal-wrap.modal-hide {
    display: none;
}

.modal-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.9);
    outline: none !important;
}

.modal-container.modal-hide {
    display: none;
}

.next, .prev {
    cursor: pointer;
}

#create-map-modal img {
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
}
/*GAMEROOM STRUCTURE CSS END  -----------------------------------------*/


/*CHAT LOG CSS START --------------------------------------------------*/

#chat-container {
    width: 100%;
    height: 22vh;
    color: #fff;
    position: relative;
    height: 20vh;
    z-index: 2;
}

#chat-log {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    margin-right: 1px;
    border-color: #000;
    word-wrap: break-word;
}

.chat-bar #chat-bar {
    height: 2.5vh;
    padding: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    
}

.chat-bar .submit-btn{
    display: inline-block;
    width: 10%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#chat-form {
    background: rgba(0, 0, 0, 0.8);
    height: 3vh;
}

#chat-post {
height: 100%;
width: 100%;
    margin: auto;
}

/*CHAT LOG CSS END ----------------------------------------------------*/

/*CHARACTER PANEL CSS START --------------------------------------------------*/


#character-name-display {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
}

#character-select-arrow {
    display: inline-block;
    float: left;
    
}

#character-name {
    width: 85%;
    margin: auto;
    text-align: center;
    float: left;
    padding-top: 4%;
    height: 50px;
}

#character-stats-panel {
    
    margin-top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    height: 100%;
    margin-top: 50px;
    
}

#character-stats-panel p {
    
    font-family: modern;
    
}


#current-hp {
    float: right;
}

#max-hp {
    float: left;
}

#character-stats-panel .row {
    padding-top: 15px;
}

.stat-label-2 {
    
}

.stat-value-2 {
    
}

#stats-panel-wrapper {
    
    padding: 15px;
    height: 100%;
    
}

#stats-panel-wrapper h4 {
    
   font-family: modern;
   font-size: 1.35rem;
    
}

#stats-panel-wrapper p {
    
   margin-bottom: 0;
   line-height: 1.3;
    
}

#map {
    background
}

#map-panel-wrapper {
    
    margin: 15px;
    padding: 15px;
    z-index: -101;
    position: relative;
    
}

#character-dropdown {
    position: fixed;
    left: 0;
    top: 53px;
    width: 25%;
}

#character-dropdown .character-selector {
    height: 50px;
    background: black;
    border-style: solid;
    border-width: 0.1px;
    border-color: rgba(255,255,255, 0.3);
    text-align: center;
    font-family: modern;
}

#character-dropdown .character-selector:hover {
    color: darkcyan;
    cursor: pointer;
}

.character-selector h3 {
    font-family: modern;
}

.stat-box {
    border-style: solid;
    border-width: 0.1px;
    border-color: rgba(255,255,255, 0.3);
    text-align: center;
}

.stat-box h4 {
    font-weight: 50;
}

.stat-box p {
    font-size: 0.95rem;
}

/*CHARACTER PANEL CSS END ----------------------------------------------------*/

/*CONTROL PANEL CSS START ----------------------------------------------------*/

#control-panel-tab-2 {
    text-align: center;
}

.btn.control-panel{

}

.map-asset {
    border-style: solid;
    border-width: 0.1px;
    border-color: rgba(255,255,255, 0.3);
}

.map-asset:hover {
    cursor: pointer;
}

.map-asset.selected {
    border-color: #72bcd0;
}

.asset-label {
    margin-top: 16px;
    font-family: modern;
}

#character-assets {
    margin-top: 15px;
}

#control-panel-wrapper {
    height: 100%;
    overflow-y: scroll;
}

#control-panel-wrapper h3 {
    text-align: center;
    font-family: modern;
    margin-top: 15px;
    font-weight: bold;
}

#control-panel-wrapper h2 {
    text-align: center;
    font-family: modern;
    margin-top: 15px;
    font-size: 2rem;
}

#control-panel-wrapper p {
    text-align: center;
    font-family: modern;
    margin-top: 15px;
}

#control-panel-wrapper .btn {

    background: #353436;
    background-image: -webkit-linear-gradient(top, #353436, #4D4D4D);
    background-image: -moz-linear-gradient(top, #353436, #4D4D4D);
    background-image: -ms-linear-gradient(top, #353436, #4D4D4D);
    background-image: -o-linear-gradient(top, #353436, #4D4D4D);
    background-image: linear-gradient(to bottom, #353436, #4D4D4D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: modern;
    font-weight: 100;
    padding: 5px 0 5px 0;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 80%;
    text-align: center;
    float: right;
    
}

#control-panel-wrapper .btn:hover {
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666, #787878);
    background-image: -moz-linear-gradient(top, #666666, #787878);
    background-image: -ms-linear-gradient(top, #666666, #787878);
    background-image: -o-linear-gradient(top, #666666, #787878);
    background-image: linear-gradient(to bottom, #666666, #787878);
    text-decoration: none;
}

.character-tile {
    margin-top: 25px;
}

.char-creation-row {
    margin-top: 55px !important;
}

.char-creation-row .btn {
    width: 100% !important;
}

#character-assets, #misc-assets {
    overflow-y: scroll;
    max-height: 70vh;
    margin-top: 15px;
}

#control-panel-tab-1 {
    
}

#return-from-map-select {
    
    background: #353436;
    background-image: -webkit-linear-gradient(top, #353436, #4D4D4D);
    background-image: -moz-linear-gradient(top, #353436, #4D4D4D);
    background-image: -ms-linear-gradient(top, #353436, #4D4D4D);
    background-image: -o-linear-gradient(top, #353436, #4D4D4D);
    background-image: linear-gradient(to bottom, #353436, #4D4D4D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: modern;
    font-weight: 100;
    padding: 5px 0 5px 0;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 40px;
    text-align: center;
}

#return-from-map-select:hover {
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666, #787878);
    background-image: -moz-linear-gradient(top, #666666, #787878);
    background-image: -ms-linear-gradient(top, #666666, #787878);
    background-image: -o-linear-gradient(top, #666666, #787878);
    background-image: linear-gradient(to bottom, #666666, #787878);
    text-decoration: none;
}

.user-asset {

    display: inline-block;
    float: left;
    padding: 3px;
    max-height: 50px;
    max-width: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rba(255,255,255, 0.3);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    margin: 5px;
    box-sizing: border-box;
    
}

.user-asset.selected {

    border-color: #72bcd0;
    
}

#user-assets {
    margin-top: 25px;
}

/*CONTROL PANEL CSS END ------------------------------------------------------*/

/*DICE CSS START -------------------------------------------------------------*/

#roll-dice {
    float: right; 
    width: 50px; 
    height: 50px;
}

#dice-title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-family: modern;
    color: #fff;
}

.dice img{

    height: 100px;
    width: 100px;
    display: inline-block;
    cursor: pointer;
}

/*DICE CSS END ---------------------------------------------------------------*/

/*IMPORT CHARACTER MODAL START -----------------------------------------------*/

#import-character-modal {
    font-family: modern;
}

#import-character-modal h3 {
    font-family: modern;
    color: #fff;
}

.import-btn {
    
    background: #353436;
    background-image: -webkit-linear-gradient(top, #353436, #4D4D4D);
    background-image: -moz-linear-gradient(top, #353436, #4D4D4D);
    background-image: -ms-linear-gradient(top, #353436, #4D4D4D);
    background-image: -o-linear-gradient(top, #353436, #4D4D4D);
    background-image: linear-gradient(to bottom, #353436, #4D4D4D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: modern;
    font-weight: 100;
    padding: 5px 0 5px 0;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 80%;
    text-align: center;
    float: right;
    
}

.import-tile {
    border: solid #FFFFFF 1px !important;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
}

#character-edit-modal, #import-character-modal {
    overflow-y: scroll;
}

#import-character-modal {
    max-width: 750px;
    padding: 40px;
}

/*IMPORT CHARACTER MODAL END -------------------------------------------------*/