/*GAMEROOM STRUCTURE CSS START ----------------------------------------*/

#game-room {
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

#left-column, #center-column, #right-column {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    position: relative;
    padding: 0;
}
    
#left-column, #right-column {
    z-index: 100;
    color: #fff;
    height: 100vh;
    background-color: #fff;
}

#center-column {
    max-height: 100vh;
}

#title-row {
    background-color: #fff;
    z-index: 1;
    position: relative;
    height: 10vh;
}

#title-row .panel-dark{
    text-align: center;
    font-family: pathfinder !important;
    color: #fff !important;
    font-size: 2.5rem;
    margin: 0 10px 15px 0;
}

/*GAMEROOM STRUCTURE CSS END  -----------------------------------------*/


/*CHAT LOG CSS START --------------------------------------------------*/

#chat-container {
    width: 100%;
    height: 22vh;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    position: relative;
    height: 22vh;
    z-index: 2;
}

#chat-log {
    background-color: #fff;
    color: #000;
    height: 85%;
    overflow: scroll;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    margin-right: 1px;
    border-color: #000;
    word-wrap: break-word;
}

.chat-bar #chat-bar {
    height: 2.5vh;
    padding: 0;
    border: 1px solid #000;
    
}

.chat-bar .submit-btn{
    display: inline-block;
    width: 10%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#chat-form {
    background-color: #fff;
    height: 3vh;
}

#chat-post {
height: 100%;
width: 100%;
    margin: auto;
}

/*CHAT LOG CSS END ----------------------------------------------------*/

/*CHARACTER PANEL CSS START --------------------------------------------------*/


#character-name-display {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    background-color: #000;
}

#character-select-arrow {
    display: inline-block;
    float: left;
    
}

#character-name {
    width: 85%;
    margin: auto;
    text-align: center;
    float: left;
    padding-top: 4%;
    height: 50px;
}

#character-stats-panel {
    
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    background: #fff;
    height: 100%;
    
}

#current-hp {
    float: right;
}

#max-hp {
    float: left;
}

#character-stats-panel .row {
    padding-top: 15px;
}

.stat-label-2 {
    
}

.stat-value-2 {
    
}

#stats-panel-wrapper {
    
    margin: 15px;
    padding: 15px;
    min-height: 90%;
    
}

#map-panel-wrapper {
    
    margin: 15px;
    padding: 15px;
    z-index: -101;
    position: relative;
    
}

/*CHARACTER PANEL CSS END ----------------------------------------------------*/

/*CONTROL PANEL CSS START ----------------------------------------------------*/


.btn.control-panel{

}


#control-panel-wrapper.panel-dark {
    margin: 0 15px 0 0;
    padding: 15px;
    min-height: 92%;
    -webkit-border-radius: 5px 20px 5px 20px;
    border-radius: 0 20px 5px 20px;
}

#control-panel-wrapper h3 {
    text-align: center;
    font-family: modern;
    margin-top: 15px;
    font-weight: bold;
}

#control-panel-wrapper h2 {
    text-align: center;
    font-family: modern;
    margin-top: 15px;
    font-size: 2rem;
}

#control-panel-wrapper p {
    text-align: center;
    font-family: modern;
    margin-top: 15px;
}

#control-panel-wrapper .btn {

    background: #353436;
    background-image: -webkit-linear-gradient(top, #353436, #4D4D4D);
    background-image: -moz-linear-gradient(top, #353436, #4D4D4D);
    background-image: -ms-linear-gradient(top, #353436, #4D4D4D);
    background-image: -o-linear-gradient(top, #353436, #4D4D4D);
    background-image: linear-gradient(to bottom, #353436, #4D4D4D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: modern;
    font-weight: 100;
    padding: 5px 0 5px 0;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 80%;
    text-align: center;
    float: right;
    
}

#control-panel-wrapper .btn:hover {
    background: #666666;
    background-image: -webkit-linear-gradient(top, #666666, #787878);
    background-image: -moz-linear-gradient(top, #666666, #787878);
    background-image: -ms-linear-gradient(top, #666666, #787878);
    background-image: -o-linear-gradient(top, #666666, #787878);
    background-image: linear-gradient(to bottom, #666666, #787878);
    text-decoration: none;
}

.character-tile {
    margin-top: 25px;
}

.char-creation-row {
    margin-top: 55px !important;
}

.char-creation-row .btn {
    width: 100% !important;
}

/*CONTROL PANEL CSS END ------------------------------------------------------*/

/*DICE CSS START -------------------------------------------------------------*/

#roll-dice {
    float: right; 
    width: 50px; 
    height: 50px;
}

#dice-title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-family: modern;
    color: #fff;
}

.dice img{

    height: 100px;
    width: 100px;
    display: inline-block;
    cursor: pointer;
}

/*DICE CSS END ---------------------------------------------------------------*/
