body {
   font-family:verdana;
    background-color: #fff;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.row.full-width {
    max-width: 100% !important;
    margin: 0 !important;
}

.column.full-width {
    padding: 0 !important;
}

label {
    color: #fff;
}

hr {
    
    border: 0; 
    height: 1px; 
    width: 75%;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
    
}

.hidden {
    display: none;
}

.title-row {
    background-color: #fff;
    z-index: 0;
    position: relative;
}

.title-row .panel-dark{
    text-align: center;
    font-family: pathfinder !important;
    color: #fff !important;
    font-size: 3rem;
    margin: 0 10px 15px 0;
}

.overflow-hider {
    background: #fff;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25vh;
    width: 100vw;
    z-index: 1;
    overflow-x: hidden;
}

.float-right {
    float: right;
}

.center {
    text-align: center;
}


#account-management-button {
    text-align: center;
    font-family: modern !important;
    color: #fff !important;
    font-size: 1rem;
}

#account-management-button:hover {
    text-align: center;
    font-family: modern !important;
    color: darkcyan !important;
    font-size: 1rem;
    cursor: pointer;
}

/*FONT CSS START------------------------------------------------------*/

@font-face {
    font-family: pathfinder;
    src: url(/assets/fonts/MoriaCitadel.TTF);
}

@font-face {
    font-family: modern;
    src: url(/assets/fonts/nasalization-rg.ttf);
}

/*FONT CSS END--------------------------------------------------------*/


/*LOGIN SCREEN CSS START----------------------------------------------*/

#login-div {
    text-align: center;
    color: #fff;
}

#login-div label {
    color: #fff;
    font-size: 1.5rem;
}

#login-div .row {
    margin-top: 12.5%;
}

#login-wrapper {
    background-color: rgba(0, 0, 0, 0.7) !important;
    font-family: modern, sans-serif;
    color: #aaaaaa;
    padding: 10% 10% 15% 10%;
}
#login-title {
    font-family: modern;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 30px;
}

.form-wrapper {
    background-color: rgba(184, 172, 154, 0.9) !important;
    padding: 5% 10% 5% 10%;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 20px 20px 20px 20px;
}

.form-wrapper label {
    color: #000 !important;
    font-weight: bold;
}

#login-button {
    
    width: 50%;
}

#login-bg {
    position: absolute;
    z-index: -1;
    background-image: url(/assets/images/bg/forest-bg.jpg);
    background-position: cover;
    height: 100vh;
    width: 100vw;
}

#sign-up {
    margin-top: 15px;
    color: #000;
    font-weight: bold;
    font-size: 1.25rem;
}

#sign-up:hover {
    color: darkslategray;
}

#sign-up-col {
    margin: 20%;
}

#sign-up-left h3 {
    margin-top: 15px;
    font-family: modern !important;
    font-size: 1.25rem;
    color: #fff;
}

#error-msg-sign-up {
    color: darkred;
}


/*LOGIN SCREEN CSS END-------------------------------------------------*/


/*ICON CSS START ------------------------------------------------------*/

#map-controls .btn {
    border: none;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
    background: #000 !important;
    background-image: none;
    background-color: #000;
    float: left;
    padding: 10px 20px 10px 20px;
}

#map-controls .btn:hover {
    border-color: darkcyan;
    color: darkcyan;
}

#map-controls .arrow {
    border-color: inherit !important;
}



.btn .arrow.white:hover {
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
}

.white:hover {
    color: darkcyan;
}

.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    vertical-align: middle;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*ICON CSS END--- ------------------------------------------------------*/


/*COLOR CSS START ------------------------------------------------------*/

.white {
    color: #fff;
}

.black {
    color: #000;
}


/*COLOR CSS END --------------------------------------------------------*/


.panel-dark {
    -webkit-border-radius: 5px 20px 5px 20px;
    border-radius: 5px 20px 5px 20px;
    background: rgba(0, 0, 0, 0.9);
    font-family: lato, sans-serif;
    color: #aaaaaa;
    text-shadow: 5px 8px 10px #000000;
    -moz-box-shadow: 10px 10px 5px #000000;
    -webkit-box-shadow: 10px 10px 5px #000000;
    box-shadow: 10px 10px 5px #000000;
    padding: 16px;
}

.panel-dark .panel-dark {
    background: rgba(0, 0, 0, 0.3);
}

.panel-light {
    -webkit-border-radius: 5px 20px 5px 20px;
    border-radius: 5px 20px 5px 20px;
    background: rgba(255, 255, 255, 0.7);
    font-family: lato, sans-serif;
    font-size: 1rem;
    color: #000;
    text-shadow: none;
    -moz-box-shadow: 10px 10px 5px #000000;
    -webkit-box-shadow: 10px 10px 5px #000000;
    box-shadow: 10px 10px 5px #000000;
    padding: 16px;
}

.panel-cover-white {
    background-color: #fff;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.panel-dark h3 {
    font-size: 1.1875rem;
}




/*BUTTON CSS START -----------------------------------------------------*/



.btn {
  background: #3b4145;
  background-image: -webkit-linear-gradient(top, #3b4145, #58636b);
  background-image: -moz-linear-gradient(top, #3b4145, #58636b);
  background-image: -ms-linear-gradient(top, #3b4145, #58636b);
  background-image: -o-linear-gradient(top, #3b4145, #58636b);
  background-image: linear-gradient(to bottom, #3b4145, #58636b);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #707d85;
  background-image: -webkit-linear-gradient(top, #707d85, #565f66);
  background-image: -moz-linear-gradient(top, #707d85, #565f66);
  background-image: -ms-linear-gradient(top, #707d85, #565f66);
  background-image: -o-linear-gradient(top, #707d85, #565f66);
  background-image: linear-gradient(to bottom, #707d85, #565f66);
  text-decoration: none;
  cursor: pointer;
}

.btn.dark {
    background: rgba(0, 0, 0, 0.9);
    border-right: solid #fff;
    border-width: 0 1px 1px 0;
}

.btn.dark:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 1);
}


/*BUTTON CSS END -----------------------------------------------------*/


/*ACCOUNT PAGE CSS START----------------------------------------------*/

.profile-picture {
    
    display: block;
    width: 200px;
    height: 100%;
    
}

.account-management-left h3{ 

    margin-top: 15px;
    font-family: modern !important;
    font-size: 1.25rem;
    color: #fff;
    cursor: pointer;
    
}

.account-management-left h3:hover{ 

    color: darkcyan;
    cursor: : pointer;
    
}

#account-management-title h3 {
    text-align: center;
    vertical-align: center;
    font-family: modern !important;
    color: #fff !important;
    font-size: 2rem;
    display: inline-block;
    margin: auto;
    height: 75px; 
    line-height: 75px;
    vertical-align: center;
}

#account-management-button {
    text-align: center;
    font-family: modern !important;
    color: #fff !important;
    font-size: 1rem;
}

#account-management-button:hover {
    text-align: center;
    font-family: modern !important;
    color: darkcyan !important;
    font-size: 1rem;
    cursor: pointer;
}

#subscribe-link h3 {
    text-align: center;
    font-family: modern !important;
    color: #fff !important;
    font-size: 4rem !important;
    cursor: pointer;
    margin-top: 15px;
}

#subscribe-link h3:hover {
    color:darkorange !important;
}

#return-link h3 {
    text-align: center;
    font-family: modern !important;
    color: #fff !important;
    font-size: 3rem !important;
    cursor: pointer;
    margin-top: 15px;
}

#return-link h3:hover {
    color:darkcyan !important;
}


/*ACCOUNT PAGE CSS END------------------------------------------------*/

/*JOIN GAME PAGE CSS START--------------------------------------------*/

#game-name {
   
    margin-top: 15px;
    font-family: modern !important;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 5%;
    
}

.enter-game-left h3 {
    margin-top: 15px;
    font-family: modern !important;
    font-size: 1.25rem;
    color: #fff;
}
.enter-game-btn {

    background: #353436;
    background-image: -webkit-linear-gradient(top, #353436, #4D4D4D);
    background-image: -moz-linear-gradient(top, #353436, #4D4D4D);
    background-image: -ms-linear-gradient(top, #353436, #4D4D4D);
    background-image: -o-linear-gradient(top, #353436, #4D4D4D);
    background-image: linear-gradient(to bottom, #353436, #4D4D4D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: modern;
    font-weight: 100;
    padding: 15px 0 15px 0;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    text-align: center;
    
}

.enter-game-btn:hover {
    background: #1a1a1a !important;
    background-image: -webkit-linear-gradient(top, #666666, #787878);
    background-image: -moz-linear-gradient(top, #666666, #787878);
    background-image: -ms-linear-gradient(top, #666666, #787878);
    background-image: -o-linear-gradient(top, #666666, #787878);
    background-image: linear-gradient(to bottom, #666666, #787878);
    text-decoration: none;
}

.join-game-btn {

    background: #353436;
    background-image: -webkit-linear-gradient(top, #353436, #4D4D4D);
    background-image: -moz-linear-gradient(top, #353436, #4D4D4D);
    background-image: -ms-linear-gradient(top, #353436, #4D4D4D);
    background-image: -o-linear-gradient(top, #353436, #4D4D4D);
    background-image: linear-gradient(to bottom, #353436, #4D4D4D);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: modern;
    font-weight: 100;
    padding: 20px 5px 20px 5px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    
}

.join-game-btn:hover {
    background: #1a1a1a !important;
    background-image: -webkit-linear-gradient(top, #666666, #787878);
    background-image: -moz-linear-gradient(top, #666666, #787878);
    background-image: -ms-linear-gradient(top, #666666, #787878);
    background-image: -o-linear-gradient(top, #666666, #787878);
    background-image: linear-gradient(to bottom, #666666, #787878);
    text-decoration: none;
}

.enter-game-btn:hover, .join-game-btn:hover{
    color: darkorange !important;
}

#enter-game-bottom {
    text-align: center;
}

.join-game {
    
    background-color: #000;
    
}


/*JOIN GAME PAGE CSS END----------------------------------------------*/