body {
   font-family:verdana;
   background-color:#000;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

/*LOGIN SCREEN CSS START----------------------------------------------*/

#login-div {
    margin-top: 15%;
    text-align: center;
    color: #fff;
}

#login-div label {
    color: #fff;
    font-size: 1.5rem;
}

#login-div .row {
    margin-top: 15%;
}

/*LOGIN SCREEN CSS END-------------------------------------------------*/

/*GAMEROOM CSS START---------------------------------------------------*/

#left-column, #center-column, #right-column {
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
    position: relative;
}
    
#left-column, #right-column {
    z-index: 100;
    background-color: #000;
    color: #fff;
    height: 100vh;
}

#center-column {
    max-height: 100vh;
}


/*GAMEROOM CSS END-----------------------------------------------------*/